div.clicktrace {
	margin-left:auto;
	margin-right:auto;	
	width: 80%;
}

div.clicktrace-shot {
	margin-bottom: 40px;
}

div.clicktrace-shot img {
	width: 100%;
	border: 1px black solid;
}

p.clicktrace-title {
	font-weight: bold;
	font-size: 20px;
}

div.clicktrace-footer {
	margin-left:auto;
	margin-right:auto;
	font-weight: bold;
	font-size: 20px;
	width: 1%;
}

a.clicktrace-raw {
	font-size: 0.8em;
}
