div.clicktrace {
	margin-left:auto;
	margin-right:auto;	
	width: 800px;
	line-height: 130%;
}

p.clicktrace-session-name {
	font-weight: bold;
	font-size: 1.4em;
}

div.clicktrace-session-description {
	font-size: 0.9em;
	margin-bottom: 30px;
}

div.clicktrace-shot {
	margin-bottom: 40px;
}

div.clicktrace-shot-description {
	margin-top: 10px;
	font-size: 0.9em;
}

div.clicktrace-shot img {
	width: 100%;
	border: 1px black solid;
}

div.clicktrace-footer {
	margin-left:auto;
	margin-right:auto;
	font-weight: bold;
	font-size: 20px;
	width: 1%;
}

a.clicktrace-raw {
	font-size: 0.8em;
}

div#zoom {
	position: fixed;
	top: 5px;
	right: 15px;
}
div#zoom p {
	cursor: pointer;
}

div#zoom span.in {
	font-size:1.2em;
	font-weight: bold;
}

div#zoom span.out {
	font-size:0.8em;
	font-weight: bold;
}