
<link rel="stylesheet" type="text/css" href="css/clicktrace.css" />

<div class="clicktrace">
	<p class="clicktrace-session-name">${session-name}</p>
	<div class="clicktrace-session-description">${session-description}</div>

${shots}
	<div class="clicktrace-footer">Footer</div>
</div>

