<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="resources/clicktrace.css" />
<script type="text/javascript" src="resources/clicktrace.js"></script>

<script type="text/javascript">
	viewWidth = ${init-image-width};
</script>
<style>
	div.clicktrace {
		width: ${init-image-width}px;
	}
</style>

<div id="zoom">
	<p href="#" onclick="zoom(100)"><img src="resources/zoom_in.png" /></p>
	<p href="#" onclick="zoom(-100)"><img src="resources/zoom_out.png" /></p>
</div>

<div id="view" class="clicktrace">
	<p class="clicktrace-session-name">${session-name}</p>
	<div class="clicktrace-session-description">${session-description}</div>

	<div class="clicktrace-links">
	${links}
	</div>

${shots}

	<div class="clicktrace-footer">
		<a href="http://www.clicktrace.me"><img src="resources/footer.png"/>www.clicktrace.me</a>
	</div>
</div>

