	<div class="clicktrace-shot">
		<span class="clicktrace-shot-label">${shot-label} </span><a class="clicktrace-raw" target="_blank" href="shots/${shot-filename}">raw</a>
		<a data-lightbox="session" title="${shot-label}" href="shots/${shot-filename}"><img src="shots/${shot-filename}" /></a>
		<div class="clicktrace-shot-description">
			${shot-description}			
		</div>
	</div>
