	<div class="clicktrace-shot">
		<span class="clicktrace-shot-label">${shot-label} </span>
		<a name="${shot-filename}"></a>
		<a title="${shot-label}" href="shots/${shot-filename}" target="_blank"><img src="shots/${shot-filename}" /></a>
		<div class="clicktrace-shot-description">
			${shot-description}			
		</div>
	</div>
